%section.row
  .small-12.columns
    %table
      %thead
        %tr
          %th=t '.email'
          %th=t '.admin'
      -@users.each do |user|
        %tr[user]
          %td=user.email
          %td=check_box_tag 'admin', true, user.admin, class: 'admin'
