.row
  %h1
    =image_tag 'tower.png', size: '100x100'
    Relay
  %p More to come!
  .credits
    %p Developed by #{link_to 'chromatin', 'http://chromatin.ca/'}
    %p
      <a href="http://thenounproject.com/noun/radio-tower/#icon-No1316" target="_blank">Radio Tower</a> designed by <a href="http://thenounproject.com/johncaserta" target="_blank">John Caserta</a> from The Noun Project
