.row
  %table
    %thead
      %tr
        %th #
        %th name
        %th admin?
    %tbody
      -@subscribers.each do |subscriber|
        %tr
          %td=subscriber.number
          %td=subscriber.name_or_anon
          %td=subscriber.admin? ? check : cross
