.row
  %table
    %thead
      %tr
        %th #
        %th name
        %th admin?
        %th sent
    %tbody
      -@subscribers.each do |subscriber|
        %tr[subscriber]
          %td=subscriber.number
          %td=subscriber.name_or_anon
          %td=subscriber.admin? ? check : cross
          %td.sent=subscriber.sent.count
