.row
  %table
    %thead
      %tr
        %th #
        %th nick
        %th admin?
    %tbody
      -@subscribers.each do |subscriber|
        %tr
          %td=subscriber.number
          %td=subscriber.nick_or_anon
          %td=subscriber.admin? ? check : cross
