%h2 Success!
%p A new relay has been set up at the phone number #{@relay.number}. You should have received a text message from it.
%p To see the features of the relay, visit the #{link_to "documentation", root_path}.
