%section.row
  .small-12.columns
    %h2=t 'setup.heading'
    %p=t '.enter_name_and_number'
    =form_for @subscriber, url: wizard_path, method: :put do |f|
      =f.label :name, t('.name')
      =f.text_field :name
      =f.label :number, t('.number')
      =f.text_field :number
      =f.submit t('setup.save_button')
