%section.row
  .small-12.columns
    %h2 Setup
    %p Please enter your name and phone number. The number must be in the form +1XXXXXXXXXX.
    =form_for @subscriber, url: wizard_path, method: :put do |f|
      =f.label :name, "Name"
      =f.text_field :name
      =f.label :number, "Number"
      =f.text_field :number
      =f.submit 'Save'
