%section.row
  .small-12.columns
    %h2 Setup
    %p Please enter your phone number.
    =form_for @subscriber, url: wizard_path, method: :put do |f|
      =f.text_field :number
      =f.submit 'Save'
