@import 'colours'

body
  background: $background
  color: $text

h1
  color: $text
  vertical-align: top
  text-shadow: 1px 1px 0 $highlight

h2, h3, h4, h5, h6
  color: $text

a
  color: darken($highlight, 20)
  &:hover
    color: darken($highlight, 40)

section.row
  margin-bottom: 3em

.credits
  > *
    font-size: 50%
