@import 'colours'

$txt-background: $highlight

.txtpair
  .small-2
    text-align: center

.txt
  background: $txt-background
  padding: 10px
  color: $text

  border: 1px solid black
  border-radius: 10px

  min-height: 6em

  white-space: pre-wrap
