@import 'colours'

$txt-background: $highlight

.txtpair
  padding-bottom: 1em

  .small-2
    text-align: center

.row.txtpair
  margin-left: 0
  margin-right: 0

.txt
  background: $txt-background
  padding: 10px
  color: $text

  border: 1px solid black
  border-radius: 10px

  min-height: 6em

  pre
    white-space: pre-wrap

  .subscriber
    position: absolute
    top: 100%
    margin-top: -0.7em
    font-size: 70%
    background: rgba(255,255,255,0.8)
    padding: 3px
    background-image: url('/assets/phone.png')
    background-size: 16px
    padding-left: 16px
    background-repeat: no-repeat
