<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dummy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= yield %>


<meta name="dummy/config/environment" content="%7B%22modulePrefix%22%3A%22dummy%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link integrity="" rel="stylesheet" href="/assets/dummy-d41d8cd98f00b204e9800998ecf8427e.css">


  </head>
  <body>


    <script src="/assets/vendor-286ed5f549b46a6e1a90347f7f217573.js" integrity="sha256-DxMQjwpiUyCko1493yo3Pgg/9j+rp/R3hwXbWNsEDcA= sha512-/kupixg7xvELkYGxEN1Tzx5kV3Z9ykYZOFIok3c7G3M+yzunSwEpUtJSAjoNRh3XKmghO5ZibzHEDyWFuyg0LA==" ></script>
    <script src="/assets/dummy-444ddf925e50314df02ea02aea78dfe3.js" integrity="sha256-62tAlJ8SCyKb+WrK43qZ7jnd1qkaMummD6GpuljIby8= sha512-uemIAXsYr4NmdAiQE18UvfOD+ifa+qM2CPj5CtkxgeEBK8+Oe2U2BnSZ4cyucNAMaQd9pxfEItmhkAXC1hbl5A==" ></script>


  </body>
</html>
