<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dummy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"><%= yield %>

    
<meta name="dummy/config/environment" content="%7B%22modulePrefix%22%3A%22dummy%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link integrity="" rel="stylesheet" href="/assets/dummy-05f12d7070bfc8bbabc9122a3c538c6f.css">

    
  </head>
  <body>
    

    <script src="/assets/vendor-0d17a1cd33996e48f6a0c97adedd3cb4.js" integrity="sha256-4Nsw+R7IqD/QkFx0k2b08W7VsoMEC7IrpjC8q5Q+vsg= sha512-2thP5KYBYN0IKH3SZX3kV294SQHt2+ilgD6GfxsjFD00u/LZCSPlr+YF3S/EWAqSQumB1FN9jyjHvxu56cWflg==" ></script>
    <script src="/assets/dummy-b73b2c301326b429fc6c28634e2dde89.js" integrity="sha256-cyob1Xeq4sY3JSEpka+qAdTVcFkyUIXOzE9y864eVrw= sha512-H7Kgp/34T7kCpGuDmHKwyc+428RdvuhyKuWpy5H+er+b7PwMYQ1iVCThWyvfcY6wtWxgGAHe2ZvRpF4AYbuvLg==" ></script>

    
  </body>
</html>
